.App {
  text-align: center;
  background-image: url(./images/backPokemon2.jpg);
  /* background-image: url(./images/backgroundPokemon.gif); */
  /* background-repeat: no-repeat;  */
  /* background-position: center center; */
  height: 160vh;
}

.Pokemones {
  text-align: center;
}

.container {
  text-align: center;
}

/* /////////// */

.header {
  background: rgba(0,0,0,0.8);    
  color: whitesmoke;
  padding: 10px;
}

.pokedex-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 18px;
  padding: 0px 10px 20px 10px;
}

.pokemon-card {
  display: flex;
  box-shadow: 4px 4px 4px rgb(41, 41, 41);
  /* border-radius: 3px; */
  width: 95%;
  margin: 20px;
  background-color: whitesmoke;
}

.pokemon-img {
  width: 80px;
  height: 80px;
  /* margin-right: 10px; */
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
  flex: 1;
}

.card-info {
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-align: center; */
  /* align-items: center; */
}

.pokemon-type-text {
  margin-right: 10px;
  text-transform: capitalize;
  /* border-style: ; */
  background-image: linear-gradient(to right, rgb(183, 67, 179), rgb(226, 226, 61), rgb(97, 151, 222) );
  border-radius: 4px;
  margin-top: 5px;
}

.pagination {
  background: rgba(0,0,0,0.8);    
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}

.btn-anterior {
  /* background-color: rgb(79, 79, 175); */
  /* padding: 20px ; */
  border: solid 2px rgb(101, 159, 213);
  width: 150px;
  height: 35px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-anterior:hover {
  background-image: linear-gradient( rgb(54, 105, 173), rgb(127, 137, 152));
  width: 150px;
  height: 35px;
}

.btn-siguiente {
  /* background-color: rgb(79, 79, 175); */
  /* padding: 20px ; */
  border: solid 2px rgb(83, 215, 94);
  width: 150px;
  height: 35px;
  cursor: pointer;
}

.btn-siguiente:hover {
  background-image: linear-gradient( rgb(118, 149, 123), rgb(53, 188, 60) );
  width: 150px;
  height: 35px;
}

.paginas {
  color: rgb(26, 255, 0);
  /* width: 50%; */
  
}

.search-container {
  display: flex;
  margin: 0px 10px;
  padding: 0;
  align-items: center;
  flex: 1;
  align-items: stretch;
  justify-content: center;
}

.search {
  background: white;
  padding-right: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
}


.search-btn button {
  background-color: #34683f;
  border: none;
  border-radius: 10px;
  height: 100%;
  color: white;
  padding: 10px 12px;
  margin-left: 20px;
}

.filter-data {
  text-align: center;
  background: rgba(0,0,0,0.8);
  padding: 25px;
  width: 100%;
  height: auto;
}

.container-filter {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-image: url(./images/backPokemon2.jpg);
  background: rgba(0,0,0,0.8);
}

.search {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  border: none;
  height: 50px;
  width: 50%;
  border-radius: 15px;
}